


.white {
color: white;
font-family: Futura;
font-size: 30px;
}

.center {
text-align: center;
}

.default {
 background-color:#464646;
}

.landing {
  background-image: url(pier.jpg);
    
  background-position: center center;
  
  background-repeat: no-repeat;
  
 background-attachment: fixed; 
  
  background-size: cover;
  
  background-color:#464646;
  

}

.logos {
padding-top: 150px;
}